# file options

--symlinks ignore
--exclude Inputs
--swiftversion 5.5

# format options

--closingparen same-line
--commas inline
--comments indent
--decimalgrouping 3,5
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--ifdef outdent
--importgrouping testable-top
--modifierorder acl, override, setterACL, dynamic, mutators, lazy, final, required, convenience, typeMethods, owned
--nospaceoperators ..<, ...
--stripunusedargs closure-only
--wraparguments after-first
--wrapcollections after-first

# rules

--enable isEmpty
--disable andOperator
--disable wrapMultilineStatementBraces
